/* Estilos modernos para el formulario */
#formulario {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#formulario form {
    display: grid;
    gap: 16px;
}

#formulario label {
    font-size: 14px;
    color: #333;
}

#formulario input,
#formulario select,
#formulario textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#formulario select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="black" d="M12 14l-1.41 1.41L8 11.83l-1.41 1.41L12 17l5.41-5.59L16 11.83l-2.59 2.58z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
}

#formulario textarea {
    resize: vertical;
}

#formulario input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos modernos para la tabla */
/* Estilos modernos para la tabla */


.tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 38%;
  }
  
  .tabla td, .tabla th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .tabla tr:nth-child(even){background-color: #f2f2f2;}
  
  .tabla tr:hover {background-color: #ddd;}
  
  .tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }